/*!
 *  use adminlte template
 */
// Bootstrap
// ---------------------------------------------------
@import "~bootstrap/scss/functions";
@import "bootstrap-variables";
@import "~bootstrap/scss/bootstrap";

// Variables and Mixins
// ---------------------------------------------------
@import "variables";
@import "mixins";

@import "parts/core";
@import "parts/components";
@import "parts/extra-components";
@import "parts/pages";
@import "parts/plugins";
@import "parts/miscellaneous";

.box {
    background: rgba(192, 192, 192, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.icon-green {
    margin-left: 2px;
    color: rgb(79, 206, 93);
}

.icon-blue{
    margin-left: 2px;
    color:rgb(63, 130, 249);

}
